.bdy{
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    row-gap: 94px;
    gap: 94px;
}
body{
    background-color: #F8F5F5;
}
img{
margin-top: 100px;
}

select{
    width: 65px;
    height: 30px;
    left: 257px;
    top: 542px;
    background: #E5C6C6;
    border-radius: 10px;
    margin-left: 58px;
}


button {
    width: 157px;
    height: 42px;
    left: 42px;
    top: 265px;
    background: #E5C6C6;
    opacity: 0.9;
    border-radius: 10px;
    margin-top: 200px;
    margin-left: 42px;
    border-color: #E5C6C6;
}

input{
    margin-left: 31px;
    width: 46px;
    height: 30px;
    left: 468px;
    top: 542px;
    background: #E5C6C6;
    border-radius: 10px;
    border-color: #E5C6C6;
}

#input-number {
    margin-left: 300px;
}
#input-numbergr3{
    margin-left: 45px;

}
#add-grade{
    height: 22px;
    width: 27px;
    left: 573px;
    top: 318px;
    border-radius: 5px;
    margin-left: 100px;
    border-color: #E5C6C6;


}
#remove-grade{
    height: 22px;
    width: 27px;
    left: 573px;
    top: 318px;
    border-radius: 5px;
    margin-left: 60px;
    border-color: #E5C6C6;

}
table{
    margin-left: 36px;
}
#moyennefinal{
    margin-left: 155px;
}

#moyenne{
    margin-left: 90px;

}